<div class="container">
  <div class="vertical-center">
    <h2 class="patua"><strong> CrossFitFayetteville </strong></h2>
    <p class="jose"> Making Fayetteville, AR fitter on WOD at a time </p>
  </div>
</div>
