<div class="container">
  <div class="vertical-center">
    <h1 class="lucida"><strong> CrossFit Fayetteville </strong></h1>
    <p><small> Making Fayetteville, AR fitter on WOD at a time </small></p>
  </div>
</div>
