<div class="social-buttons text-center">
  <a href="" target="_blank" class="btn btn-social-icon btn-xs btn-twitter">
    <span class="fa fa-twitter"></span>
  </a>

  <a href="" target="_blank" class="btn btn-social-icon btn-xs btn-instagram">
    <span class="fa fa-instagram"></span>
  </a>

  <a href="" target="_blank" class="btn btn-social-icon btn-xs btn-facebook">
    <span class="fa fa-facebook-square"></span>
  </a>
</div>